PORT=8080

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/fit-api

API_BASE_URL=http://localhost:8080
WEB_APP_BASE_URL=http://localhost:3000

BETTER_AUTH_SECRET=YOUR_BETTER_AUTH_SECRET_HERE

GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID_HERE
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET_HERE


OPENAI_API_KEY=YOUR_OPENAI_API_KEY_HERE
